$text_color_1: #00293a;
$text_color_2: #f0f2f5;

$black_color: #00293a;
$white_color: #ffffff;
$primary_color: #00293a;

$text_alert_1: #e52500;
$text_alert_2: #007bff;

//Font Family
$font_family_1: "DM Sans", "system-ui", sans-serif;
